snippet godoc "godoc"
Add comments for godoc in ${1}

This task is for pass the golint checking and readability.

issue: https://artifriends.atlassian.net/browse/SASEUL-${2}
endsnippet

snippet cover "cover"
Update test codes in ${1}

This will improve the test coverage of $1 to 100%.

issue: https://artifriends.atlassian.net/browse/SASEUL-${2}
endsnippet
