snippet fn "fn"
fn ${1:name}() {
	${2}
}
endsnippet

snippet pl "println!"
println!(${1});
endsnippet

snippet ex "extern crate"
extern crate ${1};
endsnippet

snippet l "let"
let ${1:name} = ${2};
endsnippet
