[user]
	name = John Grib
	email = johngrib@woowahan.com
[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    assume   = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
[core]
	excludesfile = /Users/johngrib/.gitignore_global
	editor = /usr/local/bin/nvim
[diff]
    tool = vimdiff
[difftool "vimdiff"]
    path = /usr/local/bin/vim
[merge]
    tool = vimdiff
[mergetool "vimdiff"]
    path = /usr/local/bin/vim
	trustExitCode = true

