; include file sample
;
; file : ~/.gitconfig
; [user]
;     name = John Grib
;     email = johngrib82@gmail.com
;     signingkey = 1234ABCDE
; [commit]
;     gpgsign = true
; [include]
;     path = ~/dotfiles/.gitconfig

[alias]
    l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    lh = "!git l | head -n 25"
    s = status -s
    co = checkout
    ci = commit
    br = branch
    assume   = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
    ch = "!git checkout $(git branch | fzf)"
    a = "!git add $(git status -s | fzf -m | awk '{print $2}')"
    cleanbranch = "!git branch -d $(git branch --merged | grep -v '^\\*\\|\\<master$')"
    deletebranch = "!git branch -d $(git branch | grep -v '^\\*\\|\\<master$' | fzf -m)"
    Deletebranch = "!git branch -D $(git branch | grep -v '^\\*\\|\\<master$' | fzf -m)"
    alias = "!git config --list | egrep '^alias.+' | sed -e 's/^alias\\.//' | sed -e 's/^[^=]*=/\\'$'\\033[31m&\\033[(B\\033[m/'"
    diffs = "!git diff $(git status -s | egrep '^\\s*M' | awk '{print $2}' | fzf -m)"
[core]
    excludesfile = /Users/johngrib/.gitignore_global
    editor = /usr/local/bin/vim
    autocrlf = input
    precomposeunicode = true
    quotepath = false
[diff]
    tool = vimdiff
[difftool "vimdiff"]
    path = /usr/local/bin/vim
[merge]
    tool = vimdiff
[mergetool "vimdiff"]
    path = /usr/local/bin/vim
    trustExitCode = true

