"외부 경로를 지정할 때는 다음과 같이 한다.
"source /Users/johngrib/git/myconfig/vim/.ideavimrc

" 참고 link ---------------------------------------------------------------------

  "http://ideavim.sourceforge.net/vim/
  "https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md
  "https://gist.github.com/zchee/9c78f91cc5ad771c1f5d " action list

  nnoremap <F10>r :source ~/.ideavimrc<CR>
  nmap s <NOP>

" set commands -----------------------------------------------------------------

  set number
  set history=1000
  set hlsearch
  set ignorecase
  set incsearch
  set smartcase
  set matchpairs
  set undolevels=2000 "undolevels
  set nrformats
  set visualbell

  " https://github.com/JetBrains/ideavim/wiki/marketplace-plugin-example
  set trackactionids

  " https://github.com/JetBrains/ideavim/wiki/IdeaVim%20Plugins
  Plug 'tpope/vim-surround'
  Plug 'tpope/vim-commentary'
  Plug 'tommcdo/vim-exchange'
  Plug 'tpope/vim-commentary'
  Plug 'easymotion/vim-easymotion'

    " https://github.com/AlexPl292/IdeaVim-EasyMotion#supported-commands
    nmap <C-s>l <Plug>(easymotion-lineforward)
    nmap <C-s>j <Plug>(easymotion-j)
    nmap <C-s>k <Plug>(easymotion-k)
    nmap <C-s>h <Plug>(easymotion-linebackward)
    nmap <C-s><C-s> <Plug>(easymotion-jumptoanywhere)
    nmap <C-s>f <Plug>(easymotion-f)

  " https://github.com/JetBrains/ideavim/wiki/NERDTree-support
  Plug 'preservim/nerdtree'
  Plug 'chrisbra/matchit'
  Plug 'michaeljsmith/vim-indent-object'

  " ideavim only
  set ideajoin
  set ideamarks

" copy , paste , select 기능 보완 ------------------------------------------------
  "nnoremap <C-m> :
  "vnoremap <C-m> :
  "inoremap <C-m> <CR>
  "cnoremap <C-m> <CR>

  " nnoremap <Esc> <Esc>:w<CR>
  " inoremap <Esc> <Esc>:w<CR>

  " Insert Mode:
  inoremap <C-f> <Esc>:let @z=@/<CR>/\v[)"}>]<CR>:let @/=@z<CR>:noh<CR>a
  inoremap <C-b> <Esc>:let @z=@/<CR>?\v[("{<]<CR>:let @/=@z<CR>:noh<CR>i
  inoremap <C-e> <C-o>A
  inoremap <C-a> <C-o>I

  nnoremap Y y$
  nnoremap <SPACE>y "+y
  vnoremap <SPACE>y "+y
  nnoremap <SPACE>p "+p
  nnoremap <SPACE>a ggVG
  vnoremap <SPACE>a ggVG

" 키 navigation 기능 보완 ---------------------------------------------------------
  nnoremap <PageDown> gT
  nnoremap <PageUp> gt
  nnoremap gl 1gtgT
  nnoremap gf 1gt

" IntelliJ action 명령 테스트 ----------------------------------------------------

  "ideavim 에서는 :command 명령을 사용할 수 없다...

  "라인 스플릿. :action 을 부르는 방식의 성능이 나쁘고, number operation 반복이 안 됨
  nnoremap K i<CR><ESC>

  "다음 기능들은 검색 창이 열린 다음에 포커스가 곧바로 에디터로 이동하므로 불편하고 쓸모가 없음.
  "실행한 다음 포커스가 남아 있기만 해도 굉장히 쓸만할 것 같은데 아쉽다.
  " nnoremap <F1><F1> :action SearchEverywhere<CR>
  nmap <F1><F1> <Action>(SearchEverywhere)
  nmap <F1><F2> <Action>(RecentFiles)

  nmap \t <Action>(ActivateStructureToolWindow)
  nmap \u <Action>(ShowUsages)
  nmap \s <Action>(ManageRecentProjects)
  nmap \r <Action>(ActivateREPLToolWindow)
  nmap \d <Action>(ActivateDatabaseToolWindow)

" IntelliJ IDEA 에서 제공하지 않는 VIM 기능들 ----------------------------------------

  "ideavim 에서는 insert mode <C-P>, <C-N> 이 작동하지 않는다. 대신 IntelliJ 의 keymap 중
  "  Main Menu > Code > Code > Completion > Cyclic Expand Word 가 비슷한 기능을 한다.
  "  Cyclic Expand Word 에 ^p, Cyclic Expand Word (Backward) 에 ^n 을 지정해주면 된다.

nnoremap g; :action JumpToLastChange<CR>
nnoremap g, :action JumpToNextChange<CR>

nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
onoremap [[ :action MethodUp<CR>
onoremap ]] :action MethodDown<CR>

nnoremap <C-S-5> :action EditorMatchBrace<CR>
nnoremap <Tab>d :action QuickJavaDoc<CR>
nnoremap <Tab>f :action QuickFixes<CR>
nnoremap <Tab>oo :action CloseAllEditorsButActive<CR>
nnoremap <Tab>or :action CloseAllToTheRight<CR>
nnoremap <Tab>ol :action CloseAllToTheLeft<CR>
nnoremap <Tab>i :action InspectCode<CR>
nnoremap <Tab>u :action FindUsages<CR>
nnoremap <Tab>, :e ~/.ideavimrc<CR>

nnoremap <Space>v :action CopyPaths<CR>

let mapleader=" "


" Bookmarks 알파벳 마크는 글로벌 마크만 왼쪽에 표시된다. 글로벌 마크만 쓰자.
nmap `0 <Action>(GotoBookmark0)
nmap `1 <Action>(GotoBookmark1)
nmap `2 <Action>(GotoBookmark2)
nmap `3 <Action>(GotoBookmark3)
nmap `4 <Action>(GotoBookmark4)
nmap `5 <Action>(GotoBookmark5)
nmap `6 <Action>(GotoBookmark6)
nmap `7 <Action>(GotoBookmark7)
nmap `8 <Action>(GotoBookmark8)
nmap `9 <Action>(GotoBookmark9)
nmap `A <Action>(GotoBookmarkA)
nmap `B <Action>(GotoBookmarkB)
nmap `C <Action>(GotoBookmarkC)
nmap `D <Action>(GotoBookmarkD)
nmap `E <Action>(GotoBookmarkE)
nmap `F <Action>(GotoBookmarkF)
nmap `G <Action>(GotoBookmarkG)
nmap `H <Action>(GotoBookmarkH)
nmap `I <Action>(GotoBookmarkI)
nmap `J <Action>(GotoBookmarkJ)
nmap `K <Action>(GotoBookmarkK)
nmap `L <Action>(GotoBookmarkL)
nmap `M <Action>(GotoBookmarkM)
nmap `N <Action>(GotoBookmarkN)
nmap `O <Action>(GotoBookmarkO)
nmap `P <Action>(GotoBookmarkP)
nmap `Q <Action>(GotoBookmarkQ)
nmap `R <Action>(GotoBookmarkR)
nmap `S <Action>(GotoBookmarkS)
nmap `T <Action>(GotoBookmarkT)
nmap `U <Action>(GotoBookmarkU)
nmap `V <Action>(GotoBookmarkV)
nmap `W <Action>(GotoBookmarkW)
nmap `X <Action>(GotoBookmarkX)
nmap `Y <Action>(GotoBookmarkY)
nmap `Z <Action>(GotoBookmarkZ)

nmap m, <Action>(ToggleBookmark)
nmap m0 <Action>(ToggleBookmark0)
nmap m1 <Action>(ToggleBookmark1)
nmap m2 <Action>(ToggleBookmark2)
nmap m3 <Action>(ToggleBookmark3)
nmap m4 <Action>(ToggleBookmark4)
nmap m5 <Action>(ToggleBookmark5)
nmap m6 <Action>(ToggleBookmark6)
nmap m7 <Action>(ToggleBookmark7)
nmap m8 <Action>(ToggleBookmark8)
nmap m9 <Action>(ToggleBookmark9)
nmap mA <Action>(ToggleBookmarkA)
nmap mB <Action>(ToggleBookmarkB)
nmap mC <Action>(ToggleBookmarkC)
nmap mD <Action>(ToggleBookmarkD)
nmap mE <Action>(ToggleBookmarkE)
nmap mF <Action>(ToggleBookmarkF)
nmap mG <Action>(ToggleBookmarkG)
nmap mH <Action>(ToggleBookmarkH)
nmap mI <Action>(ToggleBookmarkI)
nmap mJ <Action>(ToggleBookmarkJ)
nmap mK <Action>(ToggleBookmarkK)
nmap mL <Action>(ToggleBookmarkL)
nmap mM <Action>(ToggleBookmarkM)
nmap mN <Action>(ToggleBookmarkN)
nmap mO <Action>(ToggleBookmarkO)
nmap mP <Action>(ToggleBookmarkP)
nmap mQ <Action>(ToggleBookmarkQ)
nmap mR <Action>(ToggleBookmarkR)
nmap mS <Action>(ToggleBookmarkS)
nmap mT <Action>(ToggleBookmarkT)
nmap mU <Action>(ToggleBookmarkU)
nmap mV <Action>(ToggleBookmarkV)
nmap mW <Action>(ToggleBookmarkW)
nmap mX <Action>(ToggleBookmarkX)
nmap mY <Action>(ToggleBookmarkY)
nmap mZ <Action>(ToggleBookmarkZ)

nmap \p <Action>(ParameterNameHints)

" 열려있는 파일을 explorer에서 포커스 맞추기
nmap sff <Action>(SelectInProjectView)
" nmap sfn :NERDTreeFind<CR> " <Action>(SelectInProjectView) 와 똑같음
nmap srr <Action>(Run)

nmap smm <Action>(ShowPopupMenu)
nmap spp :action TogglePresentationAssistantAction<CR>

" Code Analyse: - "sa"
nmap sar :action FindUsages<CR>

" Visuam Mode Commands - "sc"
vmap sj :! convert-jpa # create table 항목을 JPA Entity properties로 변환
vmap sc :! kotlin-constructor-properties # kotlin 생성자 항목을 named parameter 템플릿으로 변환

